.jumbotron-tam{
    width: 100%;
    height: 150px;
    padding-top: 50px;
    margin-top: 50px;
}

.text-justify{text-align: justify;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.body-game{
    padding-bottom: 20px;
    padding-top: 20px;
}

.card-category{
    flex: 1 150px;
    padding: 0px 10px 10px 10px;
    margin: 3px 4px 4px 4px;
    border-style: solid;
    border-color: rgb(202, 202, 202);
    border-width: thin;
    border-radius: 8px;
}

.title-cards{
    padding-top: 10px;
}

.btn-information{
    width: 100%;
}

footer{
    background-color: white;
    padding: 20px 20px 20px 20px;
    width: 100%;
}

.icons{
    font-size: 20px;
    padding-right: 5px;
}

.breadcrumb-div{
    padding-top: 3px;
    text-justify: center;
    border-radius: 8px;
    height: 30px;
}
