img.juego{
    width: 100%;
    max-width: 250px;
    min-width: 200px;
}

button.compra{
    width: 100%;
}

td{
    align-items: center;
    vertical-align: middle;
}

td.juego{
    width: 390px;
}


td.compra{
    width: 235px;
}

td.descripcion{
    width: 620px;
}

td.calificacion{
    width: 310px;
    font-size: 35px;
}
